<html>
<head>
    <title>monMongo</title>
    <script type="text/javascript" src="{{ static_url('jquery-1.8.2.js') }}"></script>
    <script type="text/javascript" src="{{ static_url('jquery-ui-1.9.0.custom.min.js') }}"></script>
    <script type="text/javascript" src="{{ static_url('jquery.jqplot.min.js') }}"></script>
    <script type="text/javascript" src="{{ static_url('jqplot.cursor.min.js') }}"></script>	
    <script type="text/javascript" src="{{ static_url('jqplot.dateAxisRenderer.min.js') }}"></script>
    <script type="text/javascript" src="{{ static_url('jqplot.highlighter.min.js') }}"></script>
    <link rel="stylesheet" type="text/css" href="{{ static_url('css/jquery-ui-1.9.0.custom.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ static_url('css/jquery.jqplot.min.css') }}">
    {% from collections import OrderedDict %}
    {% set grafs = {0:{"backgroundFlushing":("backgroundFlushing.flushes",)},
    				1:{"mem":("mem.virtual","mem.mapped")},
    				2:{"globalLock":("globalLock.currentQueue.readers", "globalLock.currentQueue.writers")}
    				}
    %}
    {% set graf_l = (graf_l for graf_l in OrderedDict(sorted(grafs.items(), key=lambda v: v[0])).values()) %}        
    <script>
        $(function() {
            $( "#from" ).datepicker({
                defaultDate: "+1d",
                changeMonth: true,
                changeYear: true,
                numberOfMonths: 2,
                dateFormat: "yy-mm-dd",
                showOn: "button",
                buttonImage: "{{ static_url('images/calendar.gif') }}",
                buttonImageOnly: true,
                onSelect: function( selectedDate ) {
                    $( "#to" ).datepicker( "option", "minDate", selectedDate );
                }
            });
            $( "#to" ).datepicker({
                defaultDate: "+2d",
                changeMonth: true,
                changeYear: true,
                numberOfMonths: 2,
                dateFormat: "yy-mm-dd",
                showOn: "button",
                buttonImage: "{{ static_url('images/calendar.gif') }}",
                buttonImageOnly: true,
                onSelect: function( selectedDate ) {
                    $( "#from" ).datepicker( "option", "maxDate", selectedDate );
                }
            });
            $("input[type=button], a, button" )
                    .button()
                    .click(function() {
                        if($("#from").val()!="" && $("#to").val()!=""){
                            $("#form_get_graf").submit()
                        }
                        else{
                            $("#message_lab").text("Range of date not defined");
                        }
            });
        });
        $(function(){
        	$.jqplot("graf_exmpl", [ [
        						[0,0], [1,2],
        						[3,5.12],[5,13.1],
        						[7,33.6],[9,85.9]
        						] ]);	
        });
        function draw_graf(plot_name, plot_data, plot_title, plot_series){        	
        	$.jqplot(plot_name,  plot_data ,
        			{
        				title: plot_title,
        				legend:{
        					show: true,
        					location: "ne",
        					xoffset: 12,
        					yoffset: 12
        				},
        				series:plot_series,        				
        				seriesDefaults:{
        					showMarker: true
        				}
        			}
        			);
        }
    </script>
</head>
<body>
    <form method="get" action="GET_GRAF" name="form_get_graf" id="form_get_graf">
        <label for="from">From</label>
        <input type="text" id="from" name="from" />
        <label for="to">To</label>
        <input type="text" id="to" name="to" />
        <input type="button" value="Submit  ">
    </form>
    <lable id="message_lab"></lable>
  	{% set hosts = statistics.keys() %}
  	{% for host in hosts %}    
    	{{ host }}<br>
    	{% set host_id = "".join("".join(host.split(":")).split(".")) %}
    	{% for graf in graf_l %}
    		<script>
    			var series = new Array();
    		</script> 
    		{% for graf_title in graf.keys() %}
    			<div id="plot_{{host_id}}_{{graf_title}}"></div>
    			<script>
    			var dbs_list = new Array();
				{% set dbs = (dbs for dbs in statistics[host].keys()) %}
				{% for db in dbs %}
					dbs_list.push({label:"{{db}}"});					
					{% set stats = (stats for stats in statistics[host][db][0]) %}
					{% set stats %}
					
				{% end %}							    			    		
    			draw_graf("plot_{{host_id}}_{{graf_title}}",[[0,1],[2,3],[4,3],[5,6]],"{{graf_title}}",dbs_list);
    			</script>
    		{% end %}
    	{% end %}    	
    {% end %}
</body>
</html>