<html>
<head>
    <title>monMongo</title>
    <script type="text/javascript" src="{{ static_url('jquery-1.8.2.js') }}"></script>
    <script type="text/javascript" src="{{ static_url('jquery-ui-1.9.0.custom.min.js') }}"></script>
    <script type="text/javascript" src="{{ static_url('jquery.jqplot.min.js') }}"></script>
    <script type="text/javascript" src="{{ static_url('jqplot.cursor.min.js') }}"></script>	
    <script type="text/javascript" src="{{ static_url('jqplot.dateAxisRenderer.min.js') }}"></script>
    <script type="text/javascript" src="{{ static_url('jqplot.highlighter.min.js') }}"></script>
    <link rel="stylesheet" type="text/css" href="{{ static_url('css/jquery-ui-1.9.0.custom.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ static_url('css/jquery.jqplot.min.css') }}">
     
    <script>
        $(function() {
            $( "#from" ).datepicker({
                defaultDate: "+1d",
                changeMonth: true,
                changeYear: true,
                numberOfMonths: 2,
                dateFormat: "yy-mm-dd",
                showOn: "button",
                buttonImage: "{{ static_url('images/calendar.gif') }}",
                buttonImageOnly: true,
                onSelect: function( selectedDate ) {
                    $( "#to" ).datepicker( "option", "minDate", selectedDate );
                }
            });
            $( "#to" ).datepicker({
                defaultDate: "+2d",
                changeMonth: true,
                changeYear: true,
                numberOfMonths: 2,
                dateFormat: "yy-mm-dd",
                showOn: "button",
                buttonImage: "{{ static_url('images/calendar.gif') }}",
                buttonImageOnly: true,
                onSelect: function( selectedDate ) {
                    $( "#from" ).datepicker( "option", "maxDate", selectedDate );
                }
            });
            $("input[type=button], a, button" )
                    .button()
                    .click(function() {
                        if($("#from").val()!="" && $("#to").val()!=""){
                            $("#form_get_graf").submit()
                        }
                        else{
                            $("#message_lab").text("Range of date not defined");
                        }
            });
        });
       
        function draw_graf(plot_name, plot_data, plot_title, plot_series, xmin, xmax){        	
        	$.jqplot(plot_name,  plot_data ,
        			{
        				title: plot_title,
        				axes:{xaxis:{renderer:$.jqplot.DateAxisRenderer,
        							 tickOptions:{formatString:'%Y/%m/%d %H:%M'},
        							 min: xmin,
        							 max: xmax
        				            }
        				     },
        				legend:{
        					show: true,
        					location: "ne",
        					xoffset: 12,
        					yoffset: 12
        				},
        				series:plot_series,        				
        				seriesDefaults:{
        					showMarker: true
        				}
        			}
        			);
        }
    </script>    
</head>
<body>
    <form method="get" action="GET_GRAF" name="form_get_graf" id="form_get_graf">
        <label for="from">From</label>
        <input type="text" id="from" name="from" />
        <label for="to">To</label>
        <input type="text" id="to" name="to" />
        <input type="button" value="Submit  ">
    </form>
    <lable id="message_lab"></lable>    
  	{% for host, dbs in statistics.items() %}
  		Host name: {{ host }}<br>
  		{% for db, grafs in dbs.items() %}
  			datebase name: {{ db }}<br>  			
  			{% for graf, stats in grafs.items() %}
  				{% set plot_id = ''.join(''.join(host.split('.')).split(':')) %}  				  				
  				<script>
  					var series = new Array();
  					var series_vals = new Array();
  				</script>
  				{% for series_nm, stat in stats.items() %}    						
  					<script>  						
  						series.push({label:"{{series_nm}}"});
  						var vals = new Array();  						  						  						
  					</script>  					  					
  					{% for xaxis, yaxis in stat.items() %}  						
  						<script>
  							vals.push(["{{xaxis}}", {{yaxis}}]);
  						</script>
  					{% end %}
  				<br>  			
  				<script>
  					series_vals.push(vals);  					
  				</script>		
  				{% end %}  				
  				<div id="plot_{{plot_id}}_{{db}}_{{graf}}" style="width: 90%;"></div>  				
  			<script>  				   		
  				//alert(series_vals);	
  				draw_graf("plot_{{plot_id}}_{{db}}_{{graf}}", series_vals, "{{graf}}",series); 
  			</script>
  			{% end %}
  		{% end %} 
  	{% end %}  	
</body>
</html>